body{
    font-family: 'Yeon Sung', cursive;
    margin: 0;
    padding: 0;
    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
span{
    color: orange;
}
p{
    color: dimgray;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
 
}
.half-width img{
    width: 100%;
}
.top-area{
    background-image: url("images/top-banner.png");
    background-position: left top ;
    background-repeat: no-repeat;
 

}
section{
    height: 500px;
    padding-bottom:150px;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.dream-area{
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.full-stack{
    box-shadow: 10px 20px 40px gray;
    height: 80%;
    background-color: white;
}
#web-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue, cyan);
    border-image-slice: 1;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.copyright{
    text-align: center;
    font-size: 12px;
}

